<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <display-name>Test App for Framework Web</display-name>
    
    <description>
        Application de test pour tester le mini-framework externe (framework-web) 
        avec son FrontController qui intercepte toutes les requêtes HTTP.
    </description>
    
    <!-- Configuration du FrontServlet du framework -->
    <!-- <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>com.framework.FrontServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping> -->
    
    <!-- Page d'accueil par défaut -->
    <!-- <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list> -->

</web-app>